<table class='table'>
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Talle</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prenda of prendas">
            <td><img [src]="prenda.image" [alt]="prenda.name"></td>
            <td>{{prenda.name}}</td>
            <td>{{prenda.size}}</td>
            <td>{{prenda.price | currency}}</td>
            <td *ngIf="prenda.stock==0">Sin Stock</td>
            <td *ngIf="!prenda.stock==0">Disponible</td>
        </tr>
    </tbody>
</table>
